<div id="navbar-visitor">
    <a href="homepage"><img src="images/logo.png" alt="logo" width="100px"/></a>
    <div id="searchbar">
        <form action="/searchResult" method="get">
            <input type="text" name = "keyword" placeholder="Search...">
        </form>
    </div>
    <div id="navbar-links">
        <a href="aboutpage">About</a>
        <a href="condolist">Condo List</a>

        <% if (!loggedIn) { %>
            <a href="login">Login/Register</a>
         <% } else { %>
            <div class="dropdown">
                <a href="#" name = "username">Welcome Back, <%= user.fName %></a>
                <div class="dropdown-content">
                    <a href="/userprofile/<%= user.username %>">Profile</a>
                    <% if (user.admin) { %>
                        <a href="renderCondoPanel">Condo Panel</a>
                    <% } %>
                    <a href="/editprofile/<%= user.username %>">Account Settings</a>
                    <a href="logout">Logout</a>
                </div>
            </div>
         <% } %>
          
        
    </div>
</div>
