<!DOCTYPE html>
<html>
    <head>
        <title>About | Taft Tower Talk</title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" href="css/aboutpage.css">
    </head>
    <body>

        <!-- NAVIGATION BAR -->
        <%- include('./partials/navbar.ejs') %>
        <!-- NAVIGATION BAR -->

        <!--ABOUT PAGE-->
        <div class="about-page">
            <div class="left-side">
                <div class="left-container">
                    <div class="left-top">
                        <div class="photo">
                            <image src="images/logo.png">
                        </div>
                    </div>
                    <div class="left-bottom">
                        ABOUT
                    </div>
                </div>  
            </div>
            <div class="right-side">
                <div class="right-container">
                    <p>Looking for a place to call home while studying in Manila? 
                       Or just curious to explore the condo scene in Taft, Manila? 
                       Taft Tower Talks is here to be your trusted guide. Our platform 
                       is your go-to resource for all things related to condominium 
                       living in this vibrant neighborhood. Whether you're on the hunt 
                       for the perfect condo, eager to share your experiences, or simply 
                       looking to compare different options, Taft Tower Talks has you 
                       covered. Our mission is to provide you with insightful reviews, 
                       price comparisons, and ratings, ensuring you make well-informed 
                       decisions about your condo investment. Join our community today 
                       and embark on an exciting journey through the diverse world of 
                       Taft's condominiums. Your Taft Tower adventure begins here!
                    </p>
                </div>
            </div>
        </div>
        <!--ABOUT PAGE-->
    </body>
</html>