<!DOCTYPE html>
<html>
    <head>
        <title> Taft Tower Talk </title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" href="css/homepage-css.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <!-- NAVIGATION BAR -->
        <div id="navbar-visitor">
            <a href="homepage-visitor.html"><img src="images/logo.png" alt="logo" width="100px"/></a>
            <div id="searchbar">
                <form action="SearchResult-visitor.html" method="get">
                    <input type="text" placeholder="Search...">
                </form>
            </div>
            <div id="navbar-links">
                <a href="aboutpage-visitor.html">About</a>
                <a href="condolist-visitor.html">Condo List</a>
                <a href="login.html">Login/Register</a>
            </div>
        </div>
        <!-- NAVIGATION BAR -->

        <!-- HEADER -->
        <div id="homepage-header">
            <img src="images/header.jpg" alt="header"/>
        </div>
        <!-- HEADER -->

        <!-- MOST REVIEWED CONDOS -->
        <div id="most-reviewed">
            <h1> Most Reviewed Condominiums </h1>
            
            <div id="most-reviewed-container">

                <div class="most-reviewed-item">
                    <img src="images/studiozen.jpg" alt="condo photo" />
                    <div class="details-container">
                        <a href="StudioZen-visitor.html">
                        <h2>Studio Zen</h2>
                        </a>
                        <span class="ratings">4.5/5 <span class="no-ratings">(30)</span></span>
                        <p class="condo-description">
                            Discover the best investment you can give your children at Studio Zen, a 21-storey condominium development located along Taft Avenue in Metro Manila. With a host of student-oriented amenities, Zen-inspired features, and functional building facilities, it is ideal for students living independently and entrepreneurs who want to take advantage of the ready rental market in the area.
                        </p>
                    </div>
                </div>

                <div class="most-reviewed-item">
                    <img src="images/greenresidence.jpg" alt="condo photo" />
                    <div class="details-container">
                        <a href="GreenResidence-visitor.html">
                        <h2>Green Residences</h2>
                        </a>    
                        <span class="ratings">4.3/5 <span class="no-ratings">(60)</span></span>
                        <p class="condo-description">
                            Located right beside De La Salle University in Manila, Green Residences Taft gives you a great place to live out the best parts of college life: a stress-free, easy, and fun one that every college student should experience.
                        </p>
                    </div>
                </div>

                <div class="most-reviewed-item">
                    <img src="images/whtaft.jpg" alt="condo photo" />
                    <div class="details-container">
                        <a href="WHTaftResidence-visitor.html">
                        <h2>W.H. Taft Residences</h2>
                        </a>
                        <span class="ratings">4.5/5 <span class="no-ratings">(75)</span></span>
                        <p class="condo-description">
                            From studio rooms to study and game rooms, WH Taft Residences has rooms conducive for play, study, and work activities. Look no further as our amenities are suited to compliment your student life.
                        </p>
                    </div>
                </div>

                <div class="most-reviewed-item">
                    <img src="images/manilaresidences.jpg" alt="condo photo" />
                    <div class="details-container">
                        <a href="ManilaResidence-visitor.html">
                        <h2>The Manila Residences</h2>
                        </a>
                        <span class="ratings">4.5/5 <span class="no-ratings">(50)</span></span>
                        <p class="condo-description">
                            The Manila Residences is a towering 39-storey office, commercial and residential condominium designed to provide quality and luxury living at very affordable prices.
                        </p>
                    </div>
                </div>

                <div class="most-reviewed-item">
                    <img src="images/onearchers.jpg" alt="condo photo" />
                    <div class="details-container">
                        <a href="OneArchers-visitor.html">
                        <h2>One Archers Place</h2>
                        </a>
                        <span class="ratings">4.8/5 <span class="no-ratings">(45)</span></span>
                        <p class="condo-description">
                            One Archers Place is a 2 tower high-rise residential condominium project in Taft Avenue, Manila, carrying the Eton Properties Philippines brand. The development promises to deliver an exclusive and distinctive living experience.
                        </p>
                    </div>
                </div>

            </div>

        </div>
        <!-- MOST REVIEWED CONDOS -->
        <script src="javascript/homepage.js"></script>
    </body>
</html>