<!DOCTYPE html>
<html>
    <head>
        <title>Login | Taft Tower Talk</title>
        <link rel="icon" type="image/x-icon" href="images/logo.png">
        <link rel="stylesheet" type="text/css" media="all" href="css/base-css.css">
        <link rel="stylesheet" type="text/css" media="all" href="css/loginsignup.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    </head>
    <body>
        <!-- NAVIGATION BAR -->
        <%- include('./partials/navbar.ejs') %>
        <!-- NAVIGATION BAR -->

        <div class="container">
            <div class="form">
                <header><h2>Login</h2></header>
                <form action="/login" method = "post" id = "login-form" onsubmit = "login(event)">
                    <input id="username-input" name="username" type="text" placeholder="Enter username here..." required>
                    <input id="password-input" name="password" type="password" placeholder="Enter password here..." required>
                    <div class="remember-me">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember me</label>
                    </div>
                    <p class = "form-warning" id = "login-warning"><%= error %></p>
                    <input type="submit" class="button" value="LOG IN">
                </form>
                <div class="signup">
                    <span class="signup">Don't have an account?
                    <a href = "/register">Sign up here.</a>
                    </span>
                </div>
            </div>
        </div>

        <script src = "js/login.js"> </script>
    </body>
</html>